* {
    margin: 0;
    padding: 0;
}
.google-header {
    width: 100%;
    max-height: 500px;
    float: right;
    font-family: sans-serif;
}
.google-header img {
    max-width: 100%;
    border-radius: 50%;
}
.smail-img {
    border-radius: 50px;
    width: 35px;
    float: right;
    margin-right: 15px;
    margin-top: 20px;
    cursor: pointer;
}
.header-icons {
    float: right;
    width: 200px;
    margin-top: 28px;
    margin-right: 10px;
}
.header-icons .fa-th {
    font-size: 20px;
    margin-top: 5px;
    color: gray;
    float: right;
    margin-right: 20px;
    cursor: pointer;
}
.header-icons .fa-th:hover {
    color: #000;
}
.header-icons .fa-bell {
    width: 20px;
    height: 20px;
    background-color: #737373;
    border-radius: 50%;
    font-size: 10px;
    color: #fff;
    margin-top: 5px;
    text-align: center;
    padding-top: 5px;
    float: right;
    cursor: pointer;
}   
.header-icons .fa-bell:hover {
    background-color: #000;
}
.header-icons a {
    float: right;
    margin-right: 15px;
    color: #333;
    text-decoration: none;
    font-size: 14px;
}
.header-icons a:hover {
    color: gray;
}
.google-search {
    font-family: sans-serif;
    padding: 20px;
}
.s-image p {
    font-size: 50px;
}
.input-group {
    margin: 10px auto 10px;
    border-radius: 20px;
    max-width: 550px;
    background-color: #fff;
}
.form-control {
    border: none!important;
    border-radius: 20px!important;
    background-color: #fff!important;
}
.input-group-text {
    background: transparent !important;
    border: none!important;
}

.input-group .fa {
    color: #007bff;
    cursor: pointer;
}
.bookmarks {
    width: 400px;
    margin-top: 30px;
    font-family: sans-serif;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}
.col-md-4 {
    width: 120px !important;
    padding: none!important;
}
.site {
    width: 120px;
    height: 120px;
    border-radius: 5px;
}
.site:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}
.site p {
    margin-top: 10px;
    font-size: 12px;
    text-align: center;    
}
.site .fa {
    font-size: 25px;
    width: 50px;
    height: 50px;
    margin-left: 35px;
    margin-top: 20px;
    border-radius: 50%;
    background-color: #d3d3d3;
    text-align: center;
    padding-top: 12px;
}
.fa-envelope-o {
    color: #ea4335;
}
.fa-facebook-square {
    color: #3b5998;
}
.fa-youtube-play {
    color: #cd201f;
}
.fa-linkedin {
    color: #0077b5;
}
.fa-instagram {
    color: #3f729b;
}
.categories {
    padding: 1rem 2rem;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
  }
  
  .category-section {
    display: block;
    overflow: hidden;
  }
  
  .category {
    word-wrap: none;
    white-space: nowrap;
    border: 1px solid #CCC;
    border-radius: 12px;
    background-color: #E7E7E7;
    padding: 2px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: inherit;
    cursor: pointer;
    transition: background-color 150ms;
  }
  .category:hover {
    background-color: #DDD;
  }
  .options {
    letter-spacing: 5px;
  }
  .options .fa {
    font-size: 20px;
  }
  .fa-arrow-left {
    margin-left: 10px;
  }
  .search {
    padding: 5px;
  }
  .bar {
    padding: 5px;
    width: 1050px;
    border-radius: 20px;
    border: none;
    background: #ddd;
  }
  .bar .fa {  
    border-radius: 12px;
    border: none;
    background: transparent;
  }
  .buttons{
      margin-right: 10px;
      padding: 5px;
      background-color: #fff;
      border-radius: 20px;
      color: blue;
      border-top: 3px dashed #999;
      border-bottom: 3px dotted #999;
      letter-spacing: 2px;
      float: right;
  }